on:
  push:
    branches:
      - master
    tags:
      - "[0-9].[0-9]+.[0-9]+-[0-9]+"
  pull_request:

name: Build & Test

jobs:
  test:
    runs-on: [ubuntu-latest]
    name: Tests

    services:
      postgres:
        image: postgres:18.1-alpine
        env:
          POSTGRES_USER: runner
          POSTGRES_PASSWORD: docker
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "^1.25"
      - run: go version
      - name: staticcheck
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@2025.1.1
          staticcheck ./...

      - name: go test
        run: |
          go test ./... -race -count 1 -timeout 600s
        env:
          POSTGRES: "host=localhost port=5432 user=runner dbname=postgres sslmode=disable"
          POSTGRES_PASSWORD: "docker"

      - name: build examples
        run: |
          go build ./examples/basic
